@font-face {
  font-family: Kdam Thmor Pro;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("KdamThmorPro.66e22687.woff2") format("woff2"), url("KdamThmorPro.f5c907a1.woff") format("woff");
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Lato-Regular.2c6c8fcb.woff2") format("woff2"), url("Lato-Regular.baae40f1.woff") format("woff");
}

:root {
  --Font1: "Kdam Thmor Pro", sans-serif;
  --Font2: "Lato", sans-serif;
  --xs: 13px;
  --sm: 16px;
  --md: 20px;
  --lg: 28px;
  --xl: 40px;
  --primary-color: #ffd602;
  --secondary-color: #036cb6;
  --variation-color: #d5040a;
  --light-color: #fff;
  --dark-color: #1f1f1f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  width: 100%;
  height: 100vh;
  font-family: var(--Font1);
  position: relative;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  z-index: 1;
  grid-template: 20% 50% 30% / 55% 45%;
  display: grid;
  position: absolute;
}

.header {
  grid-area: 1 / 1 / 2 / 3;
  align-items: center;
  gap: 40px;
  display: flex;
}

.header__logo img {
  align-items: center;
  margin-left: 60px;
  display: flex;
}

.toggle, .navbar input {
  display: none;
}

.navbar__items {
  gap: 32px;
  list-style: none;
  display: flex;
}

.navbar__items a {
  color: var(--variation-color);
  text-decoration: none;
}

.main-content {
  flex-direction: column;
  grid-area: 2 / 1 / 3 / 2;
  justify-content: center;
  margin-left: 60px;
  animation: main 1s ease-in-out 1.5s forwards;
  display: flex;
}

@keyframes main {
  0% {
    transform: translateX(-640px);
  }

  100% {
    transform: translateX(0);
  }
}

.main-content p:first-child {
  font-size: var(--lg);
  margin: 0 0 -12px 40px;
}

.main-content h1 {
  font-size: var(--xl);
  margin-bottom: 24px;
}

.main-content p:last-child {
  width: 75%;
  font-family: var(--Font2);
  margin-bottom: 60px;
  font-weight: 400;
  line-height: 20px;
}

.side-content {
  grid-area: 1 / 2 / 4 / 3;
  grid-template-columns: repeat(6, minmax(76px, 1fr));
  align-items: center;
  display: grid;
}

.side-content div {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  grid-area: 1 / 4 / 2 / 7;
}

.side-content p {
  font-size: var(--lg);
  opacity: 0;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: end;
  animation: side-text 1s ease-in-out 5s forwards;
  transform: rotate(-90deg);
}

@keyframes side-text {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.superman {
  grid-area: 1 / 2 / 2 / 6;
  animation: side-img 4s ease-in-out 1.5s;
}

@keyframes side-img {
  0% {
    transform: translateX(500px);
  }

  100% {
    transform: translateX(0);
  }
}

.superman img {
  width: 100%;
  animation: float-hero 5s ease-in-out infinite;
}

@keyframes float-hero {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}

.footer {
  background-color: var(--primary-color);
  border-top-right-radius: 80px;
  grid-area: 3 / 1 / 4 / 2;
  justify-content: space-evenly;
  align-items: flex-end;
  animation: footer 2s ease-in-out 1.5s forwards;
  display: flex;
}

@keyframes footer {
  0% {
    transform: translateY(200px);
  }

  100% {
    transform: translateX(0);
  }
}

.footer figure {
  width: 160px;
  height: 50%;
  background-color: var(--secondary-color);
  border-radius: 20px 20px 0 0;
}

.footer figure img {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  bottom: 32px;
}

.footer figure:hover img {
  transition: transform .3s ease-in-out;
  transform: translateY(-20px)scale(1.2);
}

.footer figure:not(:hover) img {
  transition: transform .4s ease-in-out;
}

.loader {
  width: 100%;
  height: 100%;
  z-index: 2;
  background: var(--light-color);
  justify-content: center;
  align-items: center;
  gap: 40px;
  animation: loader 2s linear forwards;
  display: flex;
  position: absolute;
}

@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }

  90% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader div {
  background: var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: scaling 1s ease-in-out infinite;
  transform: scale(0);
}

.loader div:nth-child(2) {
  animation-delay: .1s;
}

.loader div:nth-child(3) {
  animation-delay: .2s;
}

@keyframes scaling {
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }

  0% {
    transform: scale(1);
  }
}

.side, .hidden {
  display: none;
}

.visible {
  place-items: center;
  display: grid;
}

.modal {
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #0c0c0cc0;
  position: absolute;
}

.modal__content {
  width: 600px;
  height: 400px;
  background-color: var(--light-color);
  place-items: center;
  display: grid;
  position: relative;
}

.btn-close {
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 16px;
}

.modal__slider {
  width: 220px;
  height: 240px;
  transform-style: preserve-3d;
}

.modal__slider input {
  display: none;
}

.cards {
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  margin-top: 12px;
  position: relative;
}

.card {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: var(--primary-color);
  border-radius: 16px;
  place-items: center;
  margin: 0 auto;
  transition: transform .4s;
  display: grid;
  position: absolute;
  left: 0;
  right: 0;
}

#radio-1:checked ~ .cards #card-1, #radio-2:checked ~ .cards #card-2, #radio-3:checked ~ .cards #card-3 {
  opacity: 1;
  z-index: 1;
  transform: translateX(0)scale(1);
}

#radio-1:checked ~ .cards #card-2, #radio-2:checked ~ .cards #card-3, #radio-3:checked ~ .cards #card-1 {
  opacity: .5;
  z-index: 0;
  transform: translateX(40%)scale(.8);
}

#radio-1:checked ~ .cards #card-3, #radio-2:checked ~ .cards #card-1, #radio-3:checked ~ .cards #card-2 {
  opacity: .5;
  z-index: 0;
  transform: translateX(-40%)scale(.8);
}

.btn-modal {
  width: 300px;
  height: 60px;
  font-family: var(--Font1);
  font-size: var(--md);
  cursor: pointer;
  color: var(--light-color);
  border: 1px solid var(--dark-color);
  background-color: var(--variation-color);
}

@media (max-width: 1160px) {
  .container {
    grid-template-rows: 20% 55% 25%;
  }

  .side-content {
    grid-template-columns: 40px repeat(5, 1fr) 40px;
  }

  .side-content div {
    grid-column: 4 / 8;
  }

  .superman {
    grid-column: 2 / 7;
  }

  .footer {
    width: 65%;
    grid-column: 1 / 3;
  }

  .footer figure {
    width: 140px;
    height: 60%;
  }

  .footer figure img {
    width: 150px;
  }
}

@media (max-width: 992px) {
  .container {
    grid-template: 15% 50% 35% / 50% 50%;
  }

  .header {
    grid-area: 1 / 1 / 2 / 3;
  }

  .header__logo img {
    margin-left: 40px;
  }

  .navbar__items {
    gap: 24px;
  }

  .main-content {
    grid-area: 2 / 1 / 3 / 2;
    margin-left: 40px;
  }

  .main-content p:last-child {
    width: 100%;
    margin: 0;
  }

  .side-content {
    grid-template: 15% auto 30% / repeat(10, 1fr);
    grid-area: 1 / 2 / 4 / 3;
  }

  .side-content div {
    grid-area: 1 / 6 / 4 / 11;
  }

  .side-content p {
    display: none;
  }

  .superman {
    grid-area: 2 / 1 / 3 / 10;
  }

  .footer {
    height: 60%;
    width: 70%;
    grid-area: 3 / 1 / 4 / 3;
    align-self: flex-end;
  }

  .modal__content {
    width: 520px;
    height: 440px;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  .page {
    overflow: auto;
  }

  .container {
    grid-template: 140px 280px 560px 200px / 80% 20%;
  }

  .header {
    z-index: 2;
    grid-area: 1 / 1 / 2 / 2;
  }

  .main-content {
    grid-area: 2 / 1 / 3 / 2;
    margin: 0 40px;
  }

  .main-content p:last-child {
    width: 100%;
  }

  .side-content {
    grid-template: 95% / repeat(12, 1fr);
    grid-area: 3 / 1 / 4 / 2;
  }

  .side-content div {
    display: none;
  }

  .side-content p {
    grid-area: 1 / 2 / 2 / 3;
    display: block;
  }

  .superman {
    grid-area: 1 / 3 / 2 / 10;
  }

  .footer {
    height: 100%;
    width: 90%;
    grid-area: 4 / 1 / 5 / 2;
    align-self: center;
  }

  @keyframes footer {
    0% {
      transform: translateX(-520px);
    }

    100% {
      transform: translateX(0);
    }
  }

  .footer figure {
    width: 120px;
  }

  .footer figure img {
    width: 130px;
  }

  .side {
    background-color: var(--primary-color);
    grid-area: 1 / 2 / 5 / 3;
    display: block;
  }

  .loader {
    height: 1180px;
  }

  .loader div {
    margin-bottom: 400px;
  }

  .modal {
    height: 1180px;
  }

  .modal__content {
    width: 80%;
  }

  .modal__slider {
    width: 40%;
  }

  .btn-modal {
    width: 70%;
  }
}

@media (max-width: 767px) {
  .page {
    overflow: auto;
  }

  .container {
    grid-template: 140px 280px 560px 200px / 80% 20%;
  }

  .header {
    z-index: 2;
    grid-area: 1 / 1 / 2 / 2;
  }

  .main-content {
    grid-area: 2 / 1 / 3 / 2;
    margin: 0 40px;
  }

  .main-content p:last-child {
    width: 100%;
  }

  .side-content {
    grid-template: 95% / repeat(12, 1fr);
    grid-area: 3 / 1 / 4 / 2;
  }

  .side-content div {
    display: none;
  }

  .side-content p {
    grid-area: 1 / 2 / 2 / 3;
    display: block;
  }

  .superman {
    grid-area: 1 / 3 / 2 / 12;
  }

  .footer {
    height: 100%;
    width: 90%;
    grid-area: 4 / 1 / 5 / 2;
    align-self: center;
  }

  @keyframes footer {
    0% {
      transform: translateX(-520px);
    }

    100% {
      transform: translateX(0);
    }
  }

  .footer figure {
    width: 120px;
  }

  .footer figure img {
    width: 130px;
  }

  .side {
    background-color: var(--primary-color);
    grid-area: 1 / 2 / 5 / 3;
    display: block;
  }

  .loader {
    height: 1180px;
  }

  .loader div {
    margin-bottom: 400px;
  }

  .modal {
    height: 1180px;
  }

  .modal__content {
    width: 80%;
  }

  .modal__slider {
    width: 40%;
  }

  .btn-modal {
    width: 70%;
  }
}

@media (max-width: 710px) {
  .header {
    grid-column: 1 / 3;
    justify-content: space-between;
  }

  .toggle {
    border: 1px solid var(--light-color);
    border-radius: 8px;
    margin-right: 40px;
    padding: 2px 8px;
    display: flex;
  }

  .toggle:active {
    box-shadow: 0 0 2px 2px var(--light-color);
  }

  #check:checked ~ ul.navbar__items {
    display: flex;
  }

  .navbar__items {
    width: 80vw;
    height: 280px;
    background-color: var(--light-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding-right: 40px;
    animation: navbar .5s ease-in-out forwards;
    display: none;
    position: absolute;
    top: 0;
    right: 20%;
  }

  @keyframes navbar {
    0% {
      transform: translateY(-280px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .modal__content {
    width: 80%;
  }

  .modal__slider {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: auto;
  }

  .header {
    background-color: var(--primary-color);
  }

  .side-content {
    grid-template-rows: 98%;
  }

  .side-content p {
    grid-column: 1 / 2;
  }

  .superman {
    grid-column: 2 / 12;
  }

  .navbar__items {
    width: 100vw;
    padding: 0;
    top: 140px;
    right: 0;
  }

  @keyframes navbar {
    0% {
      transform: translateX(100vw);
    }

    100% {
      transform: translateX(0);
    }
  }

  .side {
    display: none;
  }

  .modal__content {
    width: 90%;
  }

  .modal__slider {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-rows: 100px 280px 480px 160px;
  }

  .header__logo img {
    margin-left: 20px;
  }

  .toggle {
    margin-right: 20px;
  }

  .navbar__items {
    top: 100px;
  }

  .main-content {
    margin: 0 20px;
  }

  .side-content {
    grid-template-rows: 96%;
  }

  .footer {
    width: 100%;
    border-radius: 0;
  }

  .footer figure {
    width: 110px;
  }

  .footer figure img {
    width: 120px;
  }

  .loader {
    height: 1020px;
  }

  .loader div {
    margin-bottom: 360px;
  }

  .modal {
    height: 1020px;
  }

  .card img {
    width: 160px;
  }
}

@media (max-width: 413px) {
  .container {
    grid-template-rows: 100px 300px 380px 160px;
  }

  .footer figure {
    width: 110px;
  }

  .footer figure img {
    width: 120px;
  }

  .loader {
    height: 940px;
  }

  .loader div {
    margin-bottom: 320px;
  }

  .modal {
    height: 940px;
  }
}

@media (max-width: 375px) {
  .container {
    grid-template-rows: 100px 300px 360px 120px;
  }

  .side-content {
    grid-template-columns: 1fr 80px repeat(10, 1fr);
  }

  .side-content p {
    grid-column: 2 / 3;
  }

  .superman {
    grid-column: 3 / 12;
  }

  .footer figure {
    width: 90px;
  }

  .footer figure img {
    width: 100px;
    bottom: 20px;
  }

  .loader {
    height: 880px;
  }

  .loader div {
    margin-bottom: 200px;
  }

  .modal {
    height: 880px;
  }

  .modal__content {
    width: 100%;
  }
}

/*# sourceMappingURL=index.5525e4b8.css.map */
