@font-face {
  font-family: "Kdam Thmor Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/KdamThmorPro.woff2") format("woff2"),
    url("../assets/fonts/KdamThmorPro.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Lato-Regular.woff2") format("woff2"),
    url("../assets/fonts/Lato-Regular.woff") format("woff");
}

:root {
  --Font1: "Kdam Thmor Pro", sans-serif;
  --Font2: "Lato", sans-serif;
  --xs: 13px;
  --sm: 16px;
  --md: 20px;
  --lg: 28px;
  --xl: 40px;
  --primary-color: #ffd602;
  --secondary-color: #036cb6;
  --variation-color: #d5040a;
  --light-color: #ffffff;
  --dark-color: #1f1f1f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: var(--Font1);
  overflow: hidden;
}

.container {
  display: grid;
  grid-template: 20% 50% 30% / 55% 45%;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
}

.header {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__logo img {
  display: flex;
  align-items: center;
  margin-left: 60px;
}
.toggle,
.navbar input {
  display: none;
}
.navbar__items {
  display: flex;
  gap: 32px;
  list-style: none;
}
.navbar__items a {
  text-decoration: none;
  color: var(--variation-color);
}

.main-content {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
  animation: main 1s ease-in-out 1.5s forwards;
}
@keyframes main {
  0% {
    transform: translateX(-640px);
  }
  100% {
    transform: translateX(0px);
  }
}
.main-content p:first-child {
  margin: 0 0 -12px 40px;
  font-size: var(--lg);
}
.main-content h1 {
  margin-bottom: 24px;
  font-size: var(--xl);
}
.main-content p:last-child {
  width: 75%;
  margin-bottom: 60px;
  font-family: var(--Font2);
  font-weight: 400;
  line-height: 20px;
}

.side-content {
  grid-area: 1 / 2 / 4 / 3;
  display: grid;
  grid-template-columns: repeat(6, minmax(76px, 1fr));
  align-items: center;
}
.side-content div {
  grid-area: 1 / 4 / 2 / 7;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
}
.side-content p {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: end;
  font-size: var(--lg);
  transform: rotate(-90deg);
  opacity: 0;
  animation: side-text 1s ease-in-out 5s forwards;
}
@keyframes side-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.superman {
  grid-area: 1 / 2 / 2 / 6;
  animation: side-img 4s ease-in-out 1.5s;
}
@keyframes side-img {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0);
  }
}
.superman img {
  width: 100%;
  animation: float-hero 5s ease-in-out infinite;
}
@keyframes float-hero {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.footer {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  border-top-right-radius: 80px;
  background-color: var(--primary-color);
  animation: footer 2s ease-in-out 1.5s forwards;
}
@keyframes footer {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateX(0);
  }
}
.footer figure {
  width: 160px;
  height: 50%;
  border-radius: 20px 20px 0 0;
  background-color: var(--secondary-color);
}
.footer figure img {
  position: absolute;
  bottom: 32px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.footer figure:hover img {
  transform: translateY(-20px) scale(1.2);
  transition: transform 0.3s ease-in-out;
}
.footer figure:not(:hover) img {
  transition: transform 0.4s ease-in-out;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background: var(--light-color);
  animation: loader 2s linear forwards;
}
@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader div {
  background: var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: scale(0);
  animation: scaling 1s ease-in-out infinite;
}
.loader div:nth-child(2) {
  animation-delay: 0.1s;
}
.loader div:nth-child(3) {
  animation-delay: 0.2s;
}
@keyframes scaling {
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  0% {
    transform: scale(1);
  }
}

.side {
  display: none;
}

.hidden {
  display: none;
}
.visible {
  display: grid;
  place-items: center;
}
.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(12, 12, 12, 0.751);
  z-index: 2;
}
.modal__content {
  display: grid;
  place-items: center;
  width: 600px;
  height: 400px;
  position: relative;
  background-color: var(--light-color);
}
.btn-close {
  position: absolute;
  top: 12px;
  right: 16px;
  cursor: pointer;
}
.modal__slider {
  width: 220px;
  height: 240px;
  transform-style: preserve-3d;
}
.modal__slider input {
  display: none;
}
.cards {
  width: 100%;
  height: 100%;
  margin-top: 12px;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}
.card {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 16px;
  transition: transform 0.4s ease;
  cursor: pointer;
  background-color: var(--primary-color);
}

#radio-1:checked ~ .cards #card-1,
#radio-2:checked ~ .cards #card-2,
#radio-3:checked ~ .cards #card-3 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}
#radio-1:checked ~ .cards #card-2,
#radio-2:checked ~ .cards #card-3,
#radio-3:checked ~ .cards #card-1 {
  transform: translateX(40%) scale(0.8);
  opacity: 0.5;
  z-index: 0;
}
#radio-1:checked ~ .cards #card-3,
#radio-2:checked ~ .cards #card-1,
#radio-3:checked ~ .cards #card-2 {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.5;
  z-index: 0;
}

.btn-modal {
  width: 300px;
  height: 60px;
  font-family: var(--Font1);
  font-size: var(--md);
  cursor: pointer;
  color: var(--light-color);
  border: 1px solid var(--dark-color);
  background-color: var(--variation-color);
}

@media (max-width: 1160px) {
  .container {
    grid-template-rows: 20% 55% 25%;
  }
  .side-content {
    grid-template-columns: 40px repeat(5, 1fr) 40px;
  }
  .side-content div {
    grid-column: 4 / 8;
  }
  .superman {
    grid-column: 2 / 7;
  }
  .footer {
    grid-column: 1 / 3;
    width: 65%;
  }
  .footer figure {
    width: 140px;
    height: 60%;
  }
  .footer figure img {
    width: 150px;
  }
}

@media (max-width: 992px) {
  .container {
    grid-template: 15% 50% 35% / 50% 50%;
  }
  .header {
    grid-area: 1 / 1 / 2 / 3;
  }
  .header__logo img {
    margin-left: 40px;
  }
  .navbar__items {
    gap: 24px;
  }
  .main-content {
    grid-area: 2 / 1 / 3 / 2;
    margin-left: 40px;
  }
  .main-content p:last-child {
    width: 100%;
    margin: 0;
  }
  .side-content {
    grid-area: 1 / 2 / 4 / 3;
    grid-template: 15% auto 30% / repeat(10, 1fr);
  }
  .side-content div {
    grid-area: 1 / 6 / 4 / 11;
  }
  .side-content p {
    display: none;
  }
  .superman {
    grid-area: 2 / 1 / 3 / 10;
  }
  .footer {
    grid-area: 3 / 1 / 4 / 3;
    align-self: flex-end;
    height: 60%;
    width: 70%;
  }
  .modal__content {
    width: 520px;
    height: 440px;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  .page {
    overflow: auto;
  }
  .container {
    grid-template: 140px 280px 560px 200px / 80% 20%;
  }
  .header {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 2;
  }
  .main-content {
    grid-area: 2 / 1 / 3 / 2;
    margin: 0 40px;
  }
  .main-content p:last-child {
    width: 100%;
  }
  .side-content {
    grid-area: 3 / 1 / 4 / 2;
    grid-template: 95% / repeat(12, 1fr);
  }
  .side-content div {
    display: none;
  }
  .side-content p {
    grid-area: 1 / 2 / 2 / 3;
    display: block;
  }
  .superman {
    grid-area: 1 / 3 / 2 / 10;
  }
  .footer {
    grid-area: 4 / 1 / 5 / 2;
    align-self: center;
    height: 100%;
    width: 90%;
  }
  @keyframes footer {
    0% {
      transform: translateX(-520px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .footer figure {
    width: 120px;
  }
  .footer figure img {
    width: 130px;
  }
  .side {
    grid-area: 1 / 2 / 5 / 3;
    display: block;
    background-color: var(--primary-color);
  }
  .loader {
    height: 1180px;
  }
  .loader div {
    margin-bottom: 400px;
  }
  .modal {
    height: 1180px;
  }
  .modal__content {
    width: 80%;
  }
  .modal__slider {
    width: 40%;
  }
  .btn-modal {
    width: 70%;
  }
}

@media (max-width: 767px) {
  .page {
    overflow: auto;
  }
  .container {
    grid-template: 140px 280px 560px 200px / 80% 20%;
  }
  .header {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 2;
  }
  .main-content {
    grid-area: 2 / 1 / 3 / 2;
    margin: 0 40px;
  }
  .main-content p:last-child {
    width: 100%;
  }
  .side-content {
    grid-area: 3 / 1 / 4 / 2;
    grid-template: 95% / repeat(12, 1fr);
  }
  .side-content div {
    display: none;
  }
  .side-content p {
    grid-area: 1 / 2 / 2 / 3;
    display: block;
  }
  .superman {
    grid-area: 1 / 3 / 2 / 12;
  }
  .footer {
    grid-area: 4 / 1 / 5 / 2;
    align-self: center;
    height: 100%;
    width: 90%;
  }
  @keyframes footer {
    0% {
      transform: translateX(-520px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .footer figure {
    width: 120px;
  }
  .footer figure img {
    width: 130px;
  }
  .side {
    grid-area: 1 / 2 / 5 / 3;
    display: block;
    background-color: var(--primary-color);
  }
  .loader {
    height: 1180px;
  }
  .loader div {
    margin-bottom: 400px;
  }
  .modal {
    height: 1180px;
  }
  .modal__content {
    width: 80%;
  }
  .modal__slider {
    width: 40%;
  }
  .btn-modal {
    width: 70%;
  }
}

@media (max-width: 710px) {
  .header {
    grid-column: 1 / 3;
    justify-content: space-between;
  }
  .toggle {
    display: flex;
    margin-right: 40px;
    padding: 2px 8px;
    border-radius: 8px;
    border: 1px solid var(--light-color);
  }
  .toggle:active {
    box-shadow: 0 0 2px 2px var(--light-color);
  }
  #check:checked ~ ul.navbar__items {
    display: flex;
  }
  .navbar__items {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 80vw;
    height: 280px;
    position: absolute;
    right: 20%;
    top: 0;
    padding-right: 40px;
    background-color: var(--light-color);
    animation: navbar 0.5s ease-in-out forwards;
  }
  @keyframes navbar {
    0% {
      transform: translateY(-280px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .modal__content {
    width: 80%;
  }
  .modal__slider {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: auto;
  }
  .header {
    background-color: var(--primary-color);
  }
  .side-content {
    grid-template-rows: 98%;
  }
  .side-content p {
    grid-column: 1 / 2;
  }
  .superman {
    grid-column: 2 / 12;
  }
  .navbar__items {
    width: 100vw;
    padding: 0;
    right: 0;
    top: 140px;
  }
  @keyframes navbar {
    0% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(0);
    }
  }
  .side {
    display: none;
  }
  .modal__content {
    width: 90%;
  }
  .modal__slider {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-rows: 100px 280px 480px 160px;
  }
  .header__logo img {
    margin-left: 20px;
  }
  .toggle {
    margin-right: 20px;
  }
  .navbar__items {
    top: 100px;
  }
  .main-content {
    margin: 0 20px;
  }
  .side-content {
    grid-template-rows: 96%;
  }
  .footer {
    width: 100%;
    border-radius: 0;
  }
  .footer figure {
    width: 110px;
  }
  .footer figure img {
    width: 120px;
  }
  .loader {
    height: 1020px;
  }
  .loader div {
    margin-bottom: 360px;
  }
  .modal {
    height: 1020px;
  }
  .card img {
    width: 160px;
  }
}

@media (max-width: 413px) {
  .container {
    grid-template-rows: 100px 300px 380px 160px;
  }
  .footer figure {
    width: 110px;
  }
  .footer figure img {
    width: 120px;
  }
  .loader {
    height: 940px;
  }
  .loader div {
    margin-bottom: 320px;
  }
  .modal {
    height: 940px;
  }
}

@media (max-width: 375px) {
  .container {
    grid-template-rows: 100px 300px 360px 120px;
  }
  .side-content {
    grid-template-columns: 1fr 80px repeat(10, 1fr);
  }
  .side-content p {
    grid-column: 2 / 3;
  }
  .superman {
    grid-column: 3 / 12;
  }
  .footer figure {
    width: 90px;
  }
  .footer figure img {
    width: 100px;
    bottom: 20px;
  }
  .loader {
    height: 880px;
  }
  .loader div {
    margin-bottom: 200px;
  }
  .modal {
    height: 880px;
  }
  .modal__content {
    width: 100%;
  }
}
